bge-small-zh-v1.5/
.venv/
Backend/.venv/
node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd
.idea/
.vscode/
.DS_Store
.env
.env.*
Backend/static/ocr/
Backend/static/temp_audio/
Backend/storage/
voice.wav
frontend/src.zip
.venv/
Backend/.venv/
node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd
.idea/
.vscode/
.DS_Store
.env
.env.*
Backend/static/ocr/
Backend/static/temp_audio/
Backend/storage/
voice.wav
frontend/src.zip
